{% extends 'costos/minBase.html' %}
{% load i18n %}
{%load static %}
{% block meta_desc %} A&B Cost {% endblock %}
{% block title %} A&B Cost - Companies {% endblock %}
{%block content %}
<h2>All Companies </h2>
  <div class="row">
	  {% for object in object_list %}
   <div class="col-xl-3 col-md-6 mb-4">
  		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
						{{object.description}}</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">{{ object.name }} {{ object.description }}</div>
                       </div>
                   </div>
			</div>
           </div>
   </div>
{% endfor %}
 </div>

{% endblock %}}
